
<div id="carousel">
    <div class="carousel-inner">
        <div *ngFor="let img of images; let i = index" [ngClass]="i == 0 ? 'carousel-item-active' : 'carousel-item'" [id]="'img-' + i">
            <img class="d-block w-100" [src]="img.url" [alt]="img.alt">
        </div>
    </div>
    <button type="button" (click)="previousImage()">
        <i class="fa-solid fa-angle-left"></i>
    </button>
    <button type="button" (click)="nextImage()">      
        <i class="fa-solid fa-angle-right"></i>
    </button>
</div>