
<div id="container">
        <div class="row" style="height: 600px">
        <div class="carousel-button col-md-1" id="right" (click)="nextImage('backwards')">
            <i class="fa-solid fa-angle-left"></i>
        </div>    
        <div class="col-md-10">
            <img *ngFor="let slide of slides; let i = index" class="carousel-img" [id]="'img-'+i" [src]="slide.url" [alt]="slide.alt" 
                [ngClass]="i == 0 ? 'active' : 'hidden'" [ngStyle]="{'margin-top':i*-21 + 'px'}">
        </div>
        <div class="carousel-button  col-md-1" (click)="nextImage('forward')">      
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="row">
        <p id="carousel-text">{{this.activeSlide?.text}}</p>
    </div>
</div>