
    .carousel-img {
    width: 600px;
    height: 400px;
    max-width: 1000px;
    transition: opacity 1s ease-in-out;
    border-radius: 8px;
    position: absolute;
    margin-left: -64px;
}
.carousel-caption {
    padding-right: 157px;
    /* margin-top: -33px; */
    text-align: right;    
    color: black;
    position: relative;
}

.card-img-top {
    width: 600px;
    margin-top: 11px;
    height: 400px;
}

.button-box {
    margin-left: 180px;
}

.card {
    position: absolute;
    margin-left: -62px;
    width: 627px;
    max-width: 700px;
    font-family: "Nourd" !important;
}

.row {
    top: 0px;
}

.active-img {
    opacity: 1;
    z-index: 8;
    /* height: auto; */
}

.carousel-tracker {
    margin-left: 38px;
}

.hidden {
    opacity: 0;
    height: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.carousel-button:first {
    text-align: right;
}

.carousel-button {
    margin-top: -42px;
}

.carousel-button:hover {
    cursor: pointer;
}

.col-md-10 {
    max-height: 400px;
}

i {
    top: calc(50%);
    position: relative;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 0;
        width: 400px;
        border: 0px;
    }

    .card-img-top {
        width: 383px;
        margin-left: 42px;
        margin-top: 11px;
        height: 400px;
    }

    .card-title {        
        margin-left: 29px;
    }

    .card-text:last-child {
        
        margin-left: 29px;
    }

    .col-md-1 {
        width: unset !important;
    }
}

@media only screen and (max-width: 400px) {
    .card {
        margin: 0;
        width: 428px;
        border: 0px;
    }

    .card-img-top {
        width: 328px;
        margin-left: 71px;
        margin-top: 11px;
        height: 300px;
    }

    .card-title {        
        margin-left: 53px;
    }

    .card-text:last-child {
        
        margin-left: 53px;
    }

    .col-md-1 {
        width: unset !important;
    }
}