.carousel-img {
    width: 600px;
    height: 400px;
    max-width: 1000px;
    transition: opacity 1s ease-in-out;
    border-radius: 8px;
    position: absolute;
    margin-left: -64px;
}
.carousel-caption {
    padding-right: 157px;
    /* margin-top: -33px; */
    text-align: right;    
    color: black;
    position: relative;
}

.card-img-top {
    width: 600px;
    margin-top: 11px;
    height: 400px;
}

.card {
    position: absolute;
    margin-left: -48px;
    width: 627px;
    max-width: 700px;
}

.row {
    top: 0px;
}

.active {
    opacity: 1;
    /* height: auto; */
}

.hidden {
    opacity: 0;
    height: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.carousel-button:first {
    text-align: right;
}

.carousel-button {
    margin-top: -42px;
}

.carousel-button:hover {
    cursor: pointer;
}

.col-md-10 {
    max-height: 400px;
}

i {
    top: calc(50%);
    position: relative;
}

