
<div id="container">
        <div class="row">
            <div class="carousel-button col-md-1" id="right" (click)="nextImage('backwards')">
                <i class="fa-solid fa-angle-left"></i>
            </div>    
            <div class="carousel-button  col-md-1" (click)="nextImage('forward')">      
                <i class="fa-solid fa-angle-right"></i>
            </div>
            </div>

        <div class="row">
            <div class="card" *ngFor="let slide of slides; let i = index" [id]="'card-'+i" [ngClass]="i == 0 ? 'active' : 'hidden'">
                <img class="card-img-top" [src]="slide.url" [alt]="slide.alt">
                <div class="card-body">
                  <h5 class="card-title">{{slide.caption}}</h5>
                  <p class="card-text">{{slide.text}}</p>
                </div>
              </div>
        </div>
</div>