.carousel-img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    transition: opacity 1s ease-in-out;
}

.row {
    top: 0px;
}

.active {
    opacity: 1;
    height: auto;
}

.hidden {
    opacity: 0;
    height: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.carousel-button:first {
    text-align: right;
}

.carousel-button {
    margin-top: -42px;
}

.carousel-button:hover {
    cursor: pointer;
}

.col-md-10 {
    max-height: 400px;
}

i {
    top: calc(50%);
    position: relative;
}

