<div class="container">
    <div class="row" *ngIf="!isMobile">
        <div class="col-md-6">
            <h1>Lesly M. Queen</h1>
            <h4>M.A. in Theatre Studies, B.A. in Acting on Stage and Screen</h4>
            <p>
                Lesly M. Queen is a talented Theatre Artist and Arts Educator who received her B.A. in Acting on Stage and Screen with a minor in Secondary-Level Education from Nova Southeastern University and completed her M.A. in Theatre Studies from The University of Central Florida.
            </p>

            <p>
                Lesly’s passion for teaching the Fine Arts is evident in her successful track record of arts education training, having taught students of all ages throughout South Florida for the last several years. Before attending The University of Central Florida, Lesly was a mentor and teaching assistant to students at her alma mater Mater Lakes Academy, the Lead Theatre Teacher at BBHarts, and the Music Teacher at Precious Times Learning Center. Currently, Lesly is an Adjunct Faculty Member at Nova Southeastern University and collaborator with the NSU University School, where she recently directed their Lower School Musical 101 Dalmatians Kids with great success. 
            </p>

            <p>
                Aside from Art’s Education, Lesly has also worked with professional theatre companies such as Inside Out Theatre, This is Improv!, and City Theatre. Lesly’s friendly and engaging personality makes her an excellent Teaching Artist who has a special talent for inspiring students to achieve their artistic goals. Her expertise in Theatre Arts is unmatched as she has 15+ years of experience in all areas, making her an invaluable asset to any educational institution, theatrical company, and much more. If you’re looking for a passionate Theatre Artist, Arts Educator, or overall Entertainment Specialist look no further than Lesly M. Queen.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/bio_pic.jpg">
        </div>
    </div>
    <div class="row" *ngIf="isMobile">
        <div class="col-md-6">
            <h1>Lesly M. Queen</h1>
            <h4>M.A. in Theatre Studies, B.A. in Acting on Stage and Screen</h4>
            <img src="../../assets/bio_pic.jpg">
        </div>
        <div class="col-md-6">
            <p>
                Lesly M. Queen is a talented Theatre Artist and Arts Educator who received her B.A. in Acting on Stage and Screen with a minor in Secondary-Level Education from Nova Southeastern University and completed her M.A. in Theatre Studies from The University of Central Florida.
            </p>

            <p>
                Lesly’s passion for teaching the Fine Arts is evident in her successful track record of arts education training, having taught students of all ages throughout South Florida for the last several years. Before attending The University of Central Florida, Lesly was a mentor and teaching assistant to students at her alma mater Mater Lakes Academy, the Lead Theatre Teacher at BBHarts, and the Music Teacher at Precious Times Learning Center. Currently, Lesly is an Adjunct Faculty Member at Nova Southeastern University and collaborator with the NSU University School, where she recently directed their Lower School Musical 101 Dalmatians Kids with great success. 
            </p>

            <p>
                Aside from Art’s Education, Lesly has also worked with professional theatre companies such as Inside Out Theatre, This is Improv!, and City Theatre. Lesly’s friendly and engaging personality makes her an excellent Teaching Artist who has a special talent for inspiring students to achieve their artistic goals. Her expertise in Theatre Arts is unmatched as she has 15+ years of experience in all areas, making her an invaluable asset to any educational institution, theatrical company, and much more. If you’re looking for a passionate Theatre Artist, Arts Educator, or overall Entertainment Specialist look no further than Lesly M. Queen.
            </p>
        </div>
    </div>
</div>