img {
    width: 500px;
    border-radius: 21px;
}

.container {
    font-family: "Nourd" !important;
}

.italic {
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    img {
        width: 250px;
        margin-left: 9%;
        padding: 16px 0px;
    }
}