

.path-button {
    font: bold 11px Arial;
    height: 16px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;

}

.selected {
    background-color: #DDDD00;
}

.extra-bottom {
    margin-bottom: 48px;
}

.row {    
    text-align: center;
}