<div class="container extra-bottom">
    <div class="row">
        <div class="col-md-4">
            <a routerLink="/theatre" routerLinkActive="selected" ariaCurrentWhenActive="page"><button class="btn btn-blue"> Fine Arts</button></a>
    </div>
    <div class="col-md-4">
            <a routerLink="/projects" routerLinkActive="selected" ariaCurrentWhenActive="page"><button class="btn btn-success"> Arts Education</button></a>
    </div>
    <div class="col-md-4">
        <a routerLink="/events" routerLinkActive="selected" ariaCurrentWhenActive="page"><button class="btn btn-success"> Events</button>    </a>
    </div>
    </div>
    

</div>
<app-carousel class="carousel" id="fine-arts" [slides]="slides" [height]="400"></app-carousel>