<body>
    <p class="contact-blurb">
        If there are any projects that you think I'd be a good fit for or if you want to discuss future 
        projects, please fill out the form below and I will reply back to you as soon as possible. Thank 
        you!
    </p>
    <hr>
    <div class="contact-form">
        <div class="container">
            <div class="row">
                <div class="form-field col-md-6" style="padding-left: 0%;">
                    <label for="contact-full-name">Full Name</label>
                    <input id="contact-full-name" required type="text" [(ngModel)]="name">
                </div>
                <div class="form-field col-md-6" style="padding-right: 0%;">
                    <label for="contact-email">Reply To Email Address</label>
                    <input id="contact-email" required type="text" [(ngModel)]="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-field col-md-12">
                <label for="contact-subject">Subject</label>
                <input id="contact-subject" required type="text" [(ngModel)]="subject">
            </div>
        </div>
        <div class="row">
            <div class="form-field col-md-12">
                <label for="contact-body">Body</label>
                <textarea name="" id="contact-body" required cols="30" rows="10" [(ngModel)]="message"></textarea>
            </div>
        </div>
        <div class="row">            
            <div class="form-field col-md-12">
                <button class="btn btn-primary" id="sendBtn" (click)="sendEmail($event)">Send</button>            
            </div>
        </div>
    </div>
</body>
