.pdf-viewer {
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0 auto;
  }

.container {
  font-family: "Nourd" !important;
  height: 100vh;
}

  .pdfViewer {
    overflow-y: scroll;
  }

  nav {
    text-align: center;
    position: unset !important;
  }