<div class="container">
    <h2>Resume</h2>
    <!-- <embed src= "../assets/PegasusKnight.pdf#view=Fit&toolbar=0&navpanes=0&scrollbar=0" width= "900" height= "1100"> -->
        <a target="_blank" href="../assets/pdfs/Resume 2025.pdf">Resume 2025</a>
        <hr>
        <a target="_blank" href="../assets/pdfs/CV - 2023.pdf">CV</a>
        <hr *ngIf="!isMobile">
        <object *ngIf="!isMobile" type="application/pdf" data="../../assets/pdfs/Resume 2025.pdf" width="900" height="95%">
            <div>No PDF Viewer detected. Please click one of the urls above to download the PDF to your device.</div>
        </object>
        <hr *ngIf="isMobile">
        <object *ngIf="isMobile" type="application/pdf" data="../../assets/pdfs/Resume 2025.pdf" width="300" height="95%">
            <div>No PDF Viewer detected. Please click one of the urls above to download the PDF to your device.</div>
        </object>
</div>
